.bg-header-color {
    background-color: #264653;

}


.btn-bg-orng {
    background-color: #E76F51;
    color: white;
    border-radius: 5px;
    padding: 10px 25px;
    border: none;
}

.btn-modal-purchase {
    background-color: #E76F51;
    color: white;
    border-radius: 5px;
    padding: 10px 50px;
    border: none;
}

.btn-modal-proceed {
    background-color: #E76F51;
    color: white;
    border-radius: 5px;
    padding: 10px 30px;
    border: none;
}

.custom-small-color {
    color: #E76F51;
}

.custom-hr-color {
    color: #E76F51;
}

.custom-img-gray {
    filter: grayscale(100%);
}

.btn-bg-white {
    background-color: white;
    color: #E76F51;
    border-radius: 5px;
    padding: 10px 25px;
    border: 1px solid #E76F51;
}